@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <p class="loading">Waiting for SignalR connection...</p>

        <div class="hidden" id="lirc-buttons">
            <button class="btn btn-default lirc-button" value="KEY_POWER">Power</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul id="feedback"></ul>
    </div>
</div>

@section Scripts {

    <script src="~/lib/signalr/dist/browser/signalr.js"></script>

}
