@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <button class="btn btn-default lirc-button">KEY_POWER</button>
</div>

<div class="row">
    <ul id="feedback">

    </ul>
</div>

@section Scripts {

    <script src="~/lib/signalr/dist/browser/signalr.js"></script>

}
